<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Member Only Messaging</title>
	</head>
	<body>
		<% if (user) {%>
		<a href="/logout">Logout</a>
		<h1>Hey <%= user.firstname %></h1>
		<p>How you doing today</p>
		<form action="/createmessage" method="POST">
			<label for="title">
				<p>Post title</p>
				<input id="title" name="title" type="text" />
				<label for="post_content">
					<p>Post content:</p>
					<textarea
						cols="20"
						rows="8"
						name="post_content"
						id="post_content"
					></textarea>
				</label>
			</label>
			<button type="submit">Submit Post</button>
		</form>
		<% messages.forEach(message => { %>
		<div class="message-card">
			<div class="card-header">
				<div class="card-title-wrapper">
					<h3><%= message.title %></h3>
					<p>By <%=message.firstname%> <%=message.lastname%></p>
				</div>
				<div class="tags-wrapper">
					<% if(message.is_admin) { %>
					<p>Admin</p>
					<% } %> <% if(message.is_member) { %>
					<p>Member</p>
					<% } %>
				</div>
			</div>
			<div class="card-body">
				<p><%= message.post_content %></p>
			</div>
		</div>
		<% }) %> <%} else {%>
		<h1>
			hey You better login using the form below to view all message details
		</h1>
		<form action="/login" method="POST">
			<label for="email">Email</label>
			<input id="email" name="email" placeholder="Email" type="text" />
			<label for="password">Password</label>
			<input id="password" name="password" type="password" />
			<button>Log In</button>
		</form>
		<% messages.forEach(message => { %>
		<div class="message-card">
			<div class="card-header">
				<div class="card-title-wrapper">
					<h3><%= message.title %></h3>
					<p>By Anonymous</p>
				</div>
				<div class="tags-wrapper"></div>
			</div>
			<div class="card-body">
				<p><%= message.post_content %></p>
			</div>
		</div>
		<% }) %> <% } %>
	</body>
</html>
